/* src/components/Breadcrumb.css */
.breadcrumb {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
 
  color: #666;
  max-width:1400px;
  margin: 20px auto;
  padding: 0px 0px !important;
}

.breadcrumb-link {
  text-decoration: none;
  color: #000;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  font-weight: bold;
  color: #333;
}
